body {
    background-image: url("back_for_dog.png");
}

.animal_description {
    background-color: rgba(196, 159, 138, 0.4);
}

.name_of_animal_desc {
    background-color: #9a7868;
}

.name_of_animal_desc:hover {
    background-color: #c49f8a;
}

.name_of_animal_desc p {
    color: white;
}

.owner {
    background-color: #af6991;
}

.owner_description {
    background-color: rgb(235, 201, 224);
}

.owner p {
    color: white;
}

.to_mainpage {
    background-color: rgba(164, 86, 139, 0.8);
}

.to_mainpage:hover {
    background-color: #db84be;
}

.top_buttons {
    width: 35%;
    margin: 20px auto 5px auto;
    height: 30px;
    position: relative;
    min-width: 377px;
}

#button_for_newAnimal {
    background-color: rgba(164, 86, 139, 0.8);
}

#button_for_newAnimal:hover {
    background-color: #db84be;
}

#back_white_for_reg {
    background-color: #efefef;
    border: #858585 7px solid;
}

#add_new_animal {
    background-color: rgba(18, 18, 18, 0.8);
}

#close_reg_form {
    color: #ad8378;
}

.name_of_animal {
    margin-bottom: 20px;
}

.full_name {
    margin-top: 20px;
}

.phone_number {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.genderF, .genderM {
    margin-bottom: 5px;
    width: 45px;
    margin-left: 10px;
}

.genderF p, .genderM p {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
}

.sizeB p, .sizeS p {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: sans-serif;
}

.block_for_group1 {
    display: inline-block;
    width: 46px;
    margin: 0;
    padding: 0;
}

.block_for_group {
    display: inline-block;
    width: 145px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.sizeB, .sizeS {
    width: 140px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.buttons_of_form {
    margin-top: 15px;
}

.buttons_of_form input {
    background-color: rgb(189, 123, 168);
}

.buttons_of_form input:hover {
    cursor: pointer;
    background-color: #e498cb;
}

#description_of_owner {
    width: 245px;
    height: 88.4px;
    margin-top: 15px;
}

.phone_OldOwner {
    margin-left: 5px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.phone_OldOwner input {
    margin-top: 15px;
    width: 230px;
}

.new_owner p, .old_owner p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    display: inline;
    text-align: center;
}

.old_owner {
    padding: 0;
    margin: 0;
}

.new_owner {
    padding: 0;
    margin-top: 10px;
}
