body {
    background-image: url("back_for_parrot.png");
}

.animal_description {
    background-color: rgba(112, 199, 182, 0.4);
}

.name_of_animal_desc {
    background-color: #15a298;
}

.name_of_animal_desc:hover {
    background-color: #20c7b7;
}

.name_of_animal_desc p {
    color: white;
}

.owner {
    background-color: rgb(213, 102, 115);
}

.owner_description {
    background-color: rgb(255, 214, 211);
}

.owner p {
    color: white;
}

.to_mainpage {
    background-color: rgba(206, 82, 92, 0.8);
}

.to_mainpage:hover {
    background-color: #fa8ca4;
}

#button_for_newAnimal {
    background-color: rgba(206, 82, 92, 0.8);
}

#button_for_newAnimal:hover {
    background-color: #fa8ca4;
}

#back_white_for_reg {
    background-color: #efefef;
    border: #858585 7px solid;
}

#add_new_animal {
    background-color: rgba(18, 18, 18, 0.8);
}

#close_reg_form {
    color: #15a298;
}

.name_of_animal {
    margin-bottom: 15px;
}

.full_name {
    margin-top: 10px;
}

.phone_number {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.genderF, .genderM {
    margin-left: 50px;
    margin-bottom: 15px;
    width: 50px;
    display: inline-block;
}

.feathers {
    font-size: 15px;
    margin-bottom: 10px;
    /*margin-left: 5px;*/
    text-align: center;
}

.feathers select {
    width: 235px;
    font-size: 15px;
    font-family: sans-serif;
    height: 23px;
}

.buttons_of_form {
    margin-top: 20px;
}

.buttons_of_form input {
    background-color: rgb(213, 102, 115);
}

.buttons_of_form input:hover {
    cursor: pointer;
    background-color: #fa8ca4;
}

#description_of_owner {
    width: 245px;
    height: 88.4px;
    margin-top: 15px;
}

.phone_OldOwner {
    margin-left: 5px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}

.phone_OldOwner input {
    margin-top: 10px;
    width: 230px;
}

.new_owner p, .old_owner p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    display: inline;
    text-align: center;
}

.old_owner {
    padding: 0;
    margin: 0;
}

.new_owner {
    padding: 0;
    margin-top: 15px;
}
